.box{
    margin: 40px;
    width: 600px;
    height: 550px;
    display: flex;
    background-color: yellow;
    border: 5px double black;
    
}
.player{
    background-color: aqua;
    transform: translateY(250px);
    height: 60px;
    width: 60px;
    border: solid black 2px;
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    
}
.enemy{
    width: 70px;
    margin: 20px;
    height: 70px;
    margin: 40px;
    background-color: chartreuse;
    border: 3px solid black;
    animation: bounce 3s;
    animation-iteration-count: infinite;
}
.one{
    animation-timing-function: ease-in;
}
.two{
    animation-timing-function: ease-out;
    animation-delay: 3s;
}
.three{ 
    animation-timing-function: ease-in-out;
}
.box:active .player{  
    animation-play-state: running;
}

@keyframes bounce {
    50%{
        transform: translateY(400px);
        background-color: white;
    }  
}
@keyframes move{
    50%{
        transform: translateX(530px) translateY(250px);
    }
}