*{
    background-color: lightyellow;
}
div{
    background-color: lightsalmon;
}
.c1{
    background-color: lightskyblue;
}
#s1{
    background-color: magenta;
}
#s4{
    color: white;
    background-color: black;
}
.c1{
    background-color: chocolate;
}