.box{
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.img1{
    width: 240px;
    height: 240px;
   
    animation: rotate 3s linear ;
    background-color: aqua;
    transform: skewY(10deg)

}
@keyframes rotate {
    0%{
        transform: translateY(-300px);
        transform: rotateY(180deg);
    }
    100%{
        transform: translateY(350px);
    }
}
